<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../assets//images/playaC.png" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Cancún</title>
</head>
<!-- Barra de navegación -->
<nav>
  <img src="../assets/images/playa.png" width="50" alt="Logo de la página"/>
  <a href="../index.html">Inicio</a>
  <a href="cancun.html">Cancún</a>
  <a href="cdmx.html">CDMX</a>
  <a href="oaxaca.html">Oaxaca</a>
  <a href="guadalajara.html">Guadalajara</a>
  <a href="contacto.html">Contacto</a>
  <img src="../assets/images/playa.png" width="50" alt="Logo de la página"/>
</nav>
<body>
  <img src="../assets/images/logoCancun.png" width="300px">
  <p class="descripcion">Cancún, un destino turístico mundialmente famoso, destaca por sus playas de arena blanca y agua turquesa, su infraestructura hotelera y su clima cálido y húmedo. Es conocido por su atractivo turístico y su posición estratégica como centro de conexiones aéreas. Además, Cancún ofrece una amplia gama de actividades, desde relajación en spas hasta aventuras acuáticas</p>
  <div class="row">
    <div class="col">
      <img class="img-row" src="../assets/images/imgCancun/cenotes.jpg">
    </div>
    <div class="col fr-col">
      <h2>
        Nadar en cenotes es una experiencia popular y segura
      </h2>
      <h4>
        Los cenotes, pozos naturales de agua dulce, ofrecen aguas cristalinas y tranquilas, ideales para nadar, hacer snorkel y explorar la belleza subacuática. 
      </h4>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col fr-col">
      <h2>
        Isla Mujeres es un encantador lugar para vacacionar en el Caribe
      </h2>
      <h4>
        Explora Punta Sur con sus impresionantes vistas y esculturas, recorre el centro en carrito de golf y visita el Museo Subacuático de Arte.
      </h4>
    </div>
    <div class="col">
      <img class="img-row" src="../assets/images/imgCancun/islasMujeres.png">
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col">
      <img class="img-row" src="../assets/images/imgCancun/chichenItza.jpg">
    </div>
    <div class="col fr-col">
      <h2>
        Chichén Itzá una de las Siete Maravillas del Mundo Moderno en 2007
      </h2>
      <h4>
        Su principal atractivo es el Templo de Kukulcán, una pirámide impresionante que refleja el conocimiento astronómico y matemático de los mayas.
      </h4>
    </div>
  </div>
  <br><br><br>
  <h1 class="principal">
    Descubre la magia de México: playas de ensueño, ruinas antiguas y una rica gastronomía que te dejará sin aliento
  </h1>
  <br><br><br><hr>
  <div class="row">
    <div class="col-end">
      <img width="30%" src="../assets/images/imgCancun/mar.png">
    </div>
    <div class="col-end">
      <img width="30%" src="../assets/images/imgCancun/piramide.png">
    </div>
    <div class="col-end">
      <img width="30%" src="../assets/images/imgCancun/hotel.png">
    </div>
  </div>
  <hr><br><br><br>
  <h1 class="secundaria">
    Aquí te dejamos más opciones que puedes visitar en Cancún
  </h1>
  <br><br><br>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCancun/granCenote.jpg">
        <div>
          <p>El Gran Cenote</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCancun/playaTortugas.jpg">
        <div>
          <p>Playa Tortugas</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCancun/xelHa.jpg">
        <div>
          <p>Xel-Ha</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCancun/sanMiguelito.jpg">
        <div>
          <p>San Miguelito</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCancun/cenoteAzul.jpg">
        <div>
          <p>Cenote Azul</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCancun/playaDelfines.jpg">
        <div>
          <p>Playa Delfines</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCancun/xcaret.jpg">
        <div>
          <p>Xcaret</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCancun/elRey.jpg">
        <div>
          <p>Ruinas mayas El Rey</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCancun/arrecife.jpg">
        <div>
          <p>Arrecifes de Cancún</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>