<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../assets//images/playaC.png" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>CDMX</title>
</head>
<!-- Barra de navegación -->
<nav>
  <img src="../assets/images/playa.png" width="50" alt="Logo de la página"/>
  <a href="../index.html">Inicio</a>
  <a href="cancun.html">Cancún</a>
  <a href="cdmx.html">CDMX</a>
  <a href="oaxaca.html">Oaxaca</a>
  <a href="guadalajara.html">Guadalajara</a>
  <a href="contacto.html">Contacto</a>
  <img src="../assets/images/playa.png" width="50" alt="Logo de la página"/>
</nav>
<body>
  <img src="../assets/images/logoCDMX.png" width="500px">
  <p class="descripcion">La CDMX se caracteriza como un importante centro turístico a nivel mundial, principalmente por su rico legado histórico, cultural y gastronómico, que se refleja en su arquitectura, museos, monumentos y variada oferta culinaria. <br>Además, cuenta con una gran infraestructura turística y de negocios, que la convierte en un destino atractivo tanto para viajeros como para inversores.</p>
  <div class="row">
    <div class="col">
      <img class="img-row" src="../assets/images/imgCdmx/bellasArtes.jpg">
    </div>
    <div class="col fr-col">
      <h2>
        Palacio de Bellas Artes y su estilo único
      </h2>
      <h4>
        Principal recinto artístico y cultural del país. Es un ícono de la Ciudad de México y un lugar emblemático para la cultura mexicana.
      </h4>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col fr-col">
      <h2>
        Un recorrido por la historia, un recorrido por Teotihuacán
      </h2>
      <h4>
        La ciudad de Teotihuacán, además de representar el vestigio arqueológico más importante del centro del país, es considerada una maravilla arqueológica del mundo.
      </h4>
    </div>
    <div class="col">
      <img class="img-row" src="../assets/images/imgCdmx/teotihuacan.jpg">
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col">
      <img class="img-row" src="../assets/images/imgCdmx/ciudadUniversitaria.jpg">
    </div>
    <div class="col fr-col">
      <h2>
        Ciudad Universitaria (UNAM)
      </h2>
      <h4>
        Reconocido por la UNESCO como Patrimonio Cultural de la Humanidad. Es un modelo de arquitectura y urbanismo moderno, con edificios emblemáticos y murales de artistas reconocidos. Ven y conoce sus museos.
      </h4>
    </div>
  </div>
  <br><br><br>
  <h1 class="principal">
    México: donde la historia se encuentra con la pasión y la cultura se vive en cada rincón
  </h1>
  <br><br><br><hr>
  <div class="row">
    <div class="col-end">
      <img width="30%" src="../assets/images/imgCdmx/museo.png">
    </div>
    <div class="col-end">
      <img width="30%" src="../assets/images/imgCdmx/universidad.png">
    </div>
    <div class="col-end">
      <img width="30%" src="../assets/images/imgCdmx/torre.png">
    </div>
  </div>
  <hr><br><br><br>
  <h1 class="secundaria">
    Aquí te dejamos más opciones que puedes visitar en la Ciudad de México
  </h1>
  <br><br><br>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCdmx/parqueMasayoshi.jpg">
        <div>
          <p>Parque Masayoshi</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCdmx/reforma.jpg">
        <div>
          <p>Reforma</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCdmx/monumentoRevolucion.jpg">
        <div>
          <p>Monumento a la Revolución</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCdmx/trajinerasXochimilco.jpg">
        <div>
          <p>Trajineras en Xochimilco</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCdmx/museoSoumaya.jpg">
        <div>
          <p>Museo Soumaya</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCdmx/sixFlags.jpg">
        <div>
          <p>Six Flags</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCdmx/catedralMetropolitana.jpeg">
        <div>
          <p>Catedral Metropolitana</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCdmx/zoologicoChapultepec.jpg">
        <div>
          <p>Zoologico de Chapultepec</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgCdmx/temploMayor.jpg">
        <div>
          <p>Templo Mayor</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>