<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../assets//images/playaC.png" />
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Contacto</title>
</head>
<nav>
  <img src="../assets/images/playa.png" width="50" alt="Logo de la página"/>
  <a href="../index.html">Inicio</a>
  <a href="cancun.html">Cancún</a>
  <a href="cdmx.html">CDMX</a>
  <a href="oaxaca.html">Oaxaca</a>
  <a href="guadalajara.html">Guadalajara</a>
  <a href="contacto.html">Contacto</a>
  <img src="../assets/images/playa.png" width="50" alt="Logo de la página"/>
</nav>
<body class="contact">
  <h1 class="principal">
    ¿Tienes alguna duda?
  </h1>
  <h2 class="secundario">
    Déjanos un mensaje y nosotros te brindamos información
  </h2>
  <br>
  <div class="row">
    <div class="col-card">
      <form action="#" method="post" class="card">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="correo">Correo electrónico:</label><br>
        <input type="email" id="correo" name="correo" required><br><br>

        <label for="mensaje">Mensaje:</label><br>
        <textarea id="mensaje" name="mensaje" rows="4" required></textarea><br><br>

        <button type="submit">Enviar</button><br><br>
      </form>
    </div>
  </div>
</body>
</html>