<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../assets//images/playaC.png" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Guadalajara</title>
</head>
<!-- Barra de navegación -->
<nav>
  <img src="../assets/images/playa.png" width="50" alt="Logo de la página"/>
  <a href="../index.html">Inicio</a>
  <a href="cancun.html">Cancún</a>
  <a href="cdmx.html">CDMX</a>
  <a href="oaxaca.html">Oaxaca</a>
  <a href="guadalajara.html">Guadalajara</a>
  <a href="contacto.html">Contacto</a>
  <img src="../assets/images/playa.png" width="50" alt="Logo de la página"/>
</nav>
<body>
  <img src="../assets/images/logoGuada.png" width="300px">
  <p class="descripcion">Guadalajara se caracteriza como un destino turístico por su rica cultura, historia, gastronomía, y ambiente vibrante. Es conocida por la música mariachi, el tequila, y su arquitectura colonial. Ofrece una amplia variedad de actividades, desde visitar monumentos históricos como la Catedral Metropolitana y el Hospicio Cabañas, hasta disfrutar de la vida nocturna en cantinas y plaza</p>
  <div class="row">
    <div class="col">
      <img class="img-row" src="../assets/images/imgGuadalajara/tequila.jpg">
    </div>
    <div class="col fr-col">
      <h2>
        Un fin de semana en Tequila Jaliso
      </h2>
      <h4>
        En la zona de Tequila, Jalisco, puedes disfrutar de diversos lugares turísticos relacionados con el tequila, además de otros atractivos culturales y naturales.
      </h4>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col fr-col">
      <h2>
        Escuchar música en vivo, directo del corazón
      </h2>
      <h4>
        Los mariachis de Guadalajara, conocidos por su música tradicional mexicana, se caracterizan por su vestimenta de charro, su amplio repertorio de canciones y su uso de instrumentos de cuerda como la vihuela, el guitarrón, la guitarra, y violines, así como trompetas.  
      </h4>
    </div>
    <div class="col">
      <img class="img-row" src="../assets/images/imgGuadalajara/mariachi.jpg">
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col">
      <img class="img-row" src="../assets/images/imgGuadalajara/hospicio.jpg">
    </div>
    <div class="col fr-col">
      <h2>
        Conoce la historia de un increíble lugar
      </h2>
      <h4>
        El Hospicio Cabañas en Guadalajara, Jalisco, es especial por varias razones: su arquitectura neoclásica, su historia como orfanato y hospicio, la presencia de los murales de José Clemente Orozco y su declaración como Patrimonio de la Humanidad por la UNESCO. 
      </h4>
    </div>
  </div>
  <br><br><br>
  <h1 class="principal">
    México: un país que te sorprenderá con su diversidad, su gente cálida y su rica herencia cultural
  </h1>
  <hr><br><br><br>
  <div class="row">
    <div class="col-end">
      <img width="30%" src="../assets/images/imgGuadalajara/maguey.png">
    </div>
    <div class="col-end">
      <img width="30%" src="../assets/images/imgGuadalajara/sombrero.png">
    </div>
    <div class="col-end">
      <img width="30%" src="../assets/images/imgGuadalajara/catedral.png">
    </div>
  </div>
  <hr><br><br><br>
  <h1 class="secundaria">
    Aquí te dejamos más opciones que puedes visitar en Guadalajara
  </h1>
  <br><br><br>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgGuadalajara/centroHistorico.jpg">
        <div>
          <p>Centro Histórico</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgGuadalajara/rotondaPersonajes.jpg">
        <div>
          <p>Rotonda de los Jaliscienses Ilustres</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgGuadalajara/tlaquepaque.jpg">
        <div>
          <p>Tlaquepaque</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgGuadalajara/plazaMariachi.jpg">
        <div>
          <p>Plaza de los mariachis</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgGuadalajara/mercadoSan.jpg">
        <div>
          <p>Mercado de San Juan de Dios</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgGuadalajara/lagoChapala.jpg">
        <div>
          <p>Lago de Chapala</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgGuadalajara/mazamitla.jpg">
        <div>
          <p>Mazamitla</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgGuadalajara/selvaMágica.jpg">
        <div>
          <p>Selva Mágica</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgGuadalajara/plazaTapatia.jpg">
        <div>
          <p>Plaza Tapatía</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>