<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../assets//images/playaC.png" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Oaxaca</title>
</head>
<!-- Barra de navegación -->
<nav>
  <img src="../assets/images/playa.png" width="50" alt="Logo de la página"/>
  <a href="../index.html">Inicio</a>
  <a href="cancun.html">Cancún</a>
  <a href="cdmx.html">CDMX</a>
  <a href="oaxaca.html">Oaxaca</a>
  <a href="guadalajara.html">Guadalajara</a>
  <a href="contacto.html">Contacto</a>
  <img src="../assets/images/playa.png" width="50" alt="Logo de la página"/>
</nav>
<body>
  <img src="../assets/images/logoOaxaca.png" width="300px">
  <p class="descripcion">
    Oaxaca destaca como destino turístico por su rico patrimonio cultural, su gastronomía única, sus tradiciones ancestrales y su belleza natural. La ciudad de Oaxaca, declarada Patrimonio de la Humanidad por la UNESCO, es un escaparate de monumentos históricos, templos y jardines.  Además, el estado cuenta con pueblos mágicos, playas hermosas y diversas actividades al aire libre.
  </p>
  <div class="row">
    <div class="col">
      <img class="img-row" src="../assets/images/imgOaxaca/mitla.jpg">
    </div>
    <div class="col fr-col">
      <h2>
        El lugar de los muertos, Mitla
      </h2>
      <h4>
        Cuenta con una Zona Arqueológica que fue la Ciudad Sagrada de los zapotecos durante el periodo Posclásico. Es el lugar ideal para comprar todo tipo de textiles en donde se ven reflejados los diseños prehispánicos, resaltando las famosas grecas de Mitla. También puedes encontrar una gran variedad de mezcales artesanales de la región.
      </h4>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col fr-col">
      <h2>
        Huatulco, y su biodiversidad marina
      </h2>
      <h4>
        Destaca por sus nueve bahías y 36 playas de aguas cristalinas y arena dorada. Además de la belleza natural, Huatulco ofrece una gran variedad de actividades, desde deportes acuáticos hasta la exploración de la rica cultura oaxaqueña. 
      </h4>
    </div>
    <div class="col">
      <img class="img-row" src="../assets/images/imgOaxaca/huatulco.jpg">
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col">
      <img class="img-row" src="../assets/images/imgOaxaca/tuxtepec.jpg">
    </div>
    <div class="col fr-col">
      <h2>
        Tuxtepec, y su conexión con la naturaleza
      </h2>
      <h4>
        Destaca por su actividad económica diversificada (agrícola, ganadera, industrial y comercial) y su ubicación estratégica como punto de convergencia entre los estados de Oaxaca, Veracruz y Puebla
      </h4>
    </div>
  </div>
  <br><br><br>
  <h1 class="principal">
    México: donde cada día es una celebración y cada lugar es un tesoro por descubrir
  </h1>
  <br><br><br><hr>
  <div class="row">
    <div class="col-end">
      <img width="30%" src="../assets/images/imgOaxaca/calavera.png">
    </div>
    <div class="col-end">
      <img width="30%" src="../assets/images/imgOaxaca/planta.png">
    </div>
    <div class="col-end">
      <img width="30%" src="../assets/images/imgOaxaca/atardecer.png">
    </div>
  </div>
  <hr><br><br><br>
  <h1 class="secundaria">
    Aquí te dejamos más opciones que puedes visitar en Oaxaca
  </h1>
  <br><br><br>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgOaxaca/monteAlban.jpg">
        <div>
          <p>Monte Albán</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgOaxaca/capulalpam.jpg">
        <div>
          <p>Capulálpam</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgOaxaca/hierveAgua.jpg">
        <div>
          <p>Hierve el Agua</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgOaxaca/teatroMacedonio.jpg">
        <div>
          <p>Teatro Macedonio Alcalá</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgOaxaca/yagul.jpg">
        <div>
          <p>Zona arqueológica de Yagul</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgOaxaca/huautalJimenez.jpg">
        <div>
          <p>Huautla de Jimenez</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgOaxaca/lagunasChacahua.jpg">
        <div>
          <p>Parque Nacional Lagunas de Chacahua</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgOaxaca/catedral.jpg">
        <div>
          <p>Catedral de Oaxaca</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="lugares">
        <img class="img-gallery" src="../assets/images/imgOaxaca/danza.jpg">
        <div>
          <p>Festivales de Danza (Danza de la Pluma)</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>